 .container {
  display: flex;
}
  .box {
    border:1px solid rgb(172, 121, 104);
    border-radius: 10px;
    margin: 4px; 
    width: 15%;
    height: 300px; 
    display: inline-block;    
    margin-left: 70px;
    margin-top: 50px;
    top: 50px;
    box-shadow: 5px 5px 10px grey;
 }
 h2{
   color: grey;
   padding-right: 40%;
   padding-top: 10px;
   font-size: 30px;
   font-family: sans-serif;
 }
 p{
   text-align: center;
   font-size: 20px;
   padding-top: 20px;
   line-height: 40px;
 } 

 .card {
  border:1px solid rgb(172, 121, 104);
  border-radius: 10px;
  margin: 4px; 
  width: 15%;
  height: 300px; 
  display: inline-block;    
  margin-left: 100px;
  margin-top: 100px;
  top: 50px;
  box-shadow: 5px 5px 10px grey;
  margin-left: 400px;
  margin-top: 10%;
 } 
 h1{
  font-family: sans-serif;
  text-align: center;
  position: relative;
  top: 20px;

}
h1:before{
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background:grey;
  position: absolute;
  left: 35%;
  top: 15px;
  text-align: center;
  
}
h1::after{
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: grey;
  position: absolute;
  right: 35%;
  bottom: 15px;
}
.notshow{
  filter: blur(8px);
}